@import '../../scss/utilities';
@import '../../scss/constants';


.Table {
    border-spacing:0 8px !important;
    border-collapse: separate;

    thead tr {
        &:first-child {
            display: none;
        }
        th {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: $gray-v40;
          cursor: unset;
          pointer-events: none;
        }
    }


  
    &.GeneralTable {
      overflow: initial;
    }
  
    td {
      padding: 0px !important;
      min-width: 0px !important;
    }
  
    .TableCustomHeaderPadding {
      padding: 0 30px 8px 30px !important;
    }
  
    tbody tr {
      height: 48px!important;
      padding: 8px;
      transform: none !important;
      margin-bottom: 8px;
      cursor: pointer;
      border-radius: 6px;
  
      &:hover {
        height: 48px !important;
        transform: none !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;
        border: none !important;
      }
  
      td {
        padding: 0px !important;
        @include border-radius(6px);
        background-color: $white;
      }
  
    }
  }


  .OverFlowInherit {
    overflow: inherit !important;
  }