@import '../../scss/constants';
@import '../../scss/utilities';

.Header {
    color: $gray-v101;
}
.StepperTab {
    padding: 8px 10px;
}
.ActiveTab {
    height: 4px;
    border-radius: 0 !important;
    bottom: -14px !important;
}
.TabContainer {
    @include border-radius(4px);
    display: flex;
    align-items: center;
}
.FieldValue{
    color: $gray-v90;
    // width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include responsive-layout {
        width: 100%;
    }
}
.FieldLabel {
    color: $gray-v101;
}
.TitleInfo {
    line-height: 13px;
    padding-bottom: 4px;
}
.Icon {
    margin-right: 6px;
}
.HeaderWrapper {
  background-color: $white;
  border: 1px solid $gray-v112;
  padding: 14px 12px 13px 25px;
  @include responsive-layout {
    flex-direction: column;
  }
}
.TitleWrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-width: 25%;
}
.LinkButton {
    color: $gray-v90 !important;
    path {
        stroke: $red-v22;
    }
}
.SecondaryActionWrapper {
    min-width: 30%;
}
.OptionContainer {
    width: 220px;
    z-index: 50;
}
.SubMenuLabel {
    border: none !important;
    width: 24px !important;
}
.IconWrapper {
    width: 24px !important;
}
.ErrorTab {
    background-color: $red-v23;
    border-radius: 4px;
    & svg path{
        fill: $red-v22 !important;
    }
    & p {
        color: $red-v22 !important;
    }
}
