@import 'scss/constants';
@import 'scss/utilities';

.Header {
  padding: 24px 16px 0 40px;
  position: relative;

  button {
    position: absolute;
    padding: 8px;
    top: 4px;
    right: 8px;
    cursor: pointer;
  }
}

.PageTitle {
  color: $gray-v3;
  font-size: $font-size-xl;
  font-weight: $fw-semibold;
  margin-bottom: 0px !important;

  @include for-phone-and-tab {
    width: calc(100vw - 65px);
  }
}

.Footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 16px;
  border-radius: 0px 0px 3px 3px;
  background: $white;
  box-shadow: 0px -1px 4px 0px rgba($black-v24, 0.08);
}