@import '../../../scss/utilities';
@import '../../../scss/constants';
@import '../../../App.scss';

.InputTextStyle {
  border: none;
  outline: none;
  &::placeholder {
    @extend %GrayV6;
    opacity: 1;
  }

  // hiding firefox spin arrows
  -moz-appearance: textfield;
}

// hidden spin arrows for number type input
.InputTextStyle::-webkit-outer-spin-button,
.InputTextStyle::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.DefaultPadding {
  padding: 13px 9px;
}

.DefaultInputContainer {
  width: 100%;
  border-radius: 3px;
  height: 36px;

  & input {
    flex-grow: 1;
    text-overflow: clip;
  }
  input:placeholder-shown {
    text-overflow: ellipsis !important;
  }
}
.DefaultInputDropdownContainer {
  border-radius: 3px;

  & input {
    flex-grow: 1;
  }
}

.InputWithSuffixStyle {
  width: calc(100% - 80px);
  @extend %InputHeight;
}

.DefaultInputStyle {
  width: 100%;
  // @extend %InputHeight;
  height: 24px;
  @include for-phone-and-tab {
    min-height: 34px;
  }
}

.ReadOnlySuffix {
  float: right;
  line-height: $input-height;
  @extend %InputHeight;
}

.ReadOnlyPrefix {
  float: left;
  height: 16px;
  width: 16px;
}
.ErrorHighlight {
  border: none !important;
  border-bottom: $red-v5 solid 3x !important;
  box-shadow: none;
}
.FormFieldInput {
  width: 340px;
  height: 94px;
  border-radius: 4px;
  background-color: #fff;
}
.FormFieldLabel {
  width: 60px;
  height: 15px;
  margin: 13px 192px 3px 0;
  font-size: $font-size-sm;
  color: #4b515e;
}
