@import 'scss/constants';
@import 'scss/utilities';

.ChatBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 12px;
  max-width: 557px;
  height: max-content;
  @include border-radius(6px);
}

.Sender {
  background-color: $blue-v47;
}

.Receiver {
  background-color: $gray-v116;
}

.Answer {
  background-color: $green-v28;
}

.FWrap {
  flex-wrap: wrap;
}
