.EditableFieldDropdown{
    width: 170px !important;
    height: 36px !important;
    margin-bottom: 0px !important;
}
.EditorNameDropdown{
    width: 150px;
    height: 36px;
    margin-bottom: 0px !important;
}
.DropDownContainer{
    grid-gap: 10px;
}