@import '../../../../../scss/constants';
.SelectedOptionTag {
  border-radius: 20px;
  &:last-of-type {
    margin-right: 0;
  }
}
.UserIcon {
  fill: $gray-v6;
  width: 9px;
  height: 10px;
  margin-right: 8px;
}
.InputClass div {
  padding: 0 !important;
}
.Container {
  padding: 10px 10px 0px 10px;
  list-style: none;
}
.AddButton {
  padding: 8px 20px;
  width: auto !important;
}
