@import '../../../scss/constants';
@import '../../../scss/utilities';

.Container {
  width: 100%;
  border:solid 1px $gray-v1;
  border-radius: 6px;
  padding: 19px 20px 17px;
}

.UserImage {
  width: 24px;
  height: 24px;
}


.TimeAndDate{
    font-size: 13px;
    font-weight: 500;
    color: $red-v18;
    
  }

  .Bell{
    width: 18px;
    height: 20px;
}
.FullOpacity{
  opacity: 1;
}
.HalfOpacity{
  opacity: 0.4;
}