@import '../../../../../../scss/constants';
@import '../../../../../../scss/utilities';

.LastActivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 24px;

  .Chip {
    margin-left: 8px;
    padding: 2px 8px;
    font-size: 12px;
    width: max-content !important;
  }
  .Icon {
    margin-right: 8px;
  }

  .ShowHistoryButton {
    background: none !important;
    padding: 0;
    :hover {
      background: none !important;
      padding: 0;
    }
  }
  @include responsive-layout {
    flex-direction: column;
    .ActionHistory {
      align-self: end;
    }
  }
}