@import 'scss/constants';
@import 'scss/utilities';

.ValueContainer {
    height: 36x;
    border-radius: 2px;
    border: 1px solid $gray-v1;
    background-color: $white;
    padding: 4px 8px 4px 4px;
    gap: 8px;
    > div {
      width: 100%;
    } 
  }
  
  .ParamNameFlex, .TypeFlex {
    flex-basis: 25%;
  }
  .ValueNameFlex {
    flex-basis: 50%;
  }

  .ValueTypeFlex {
    flex-basis: 40%;
    > button {
      border-radius: 2px !important;
      background-color: $blue-v47 !important;
    }
  }

  .ValueTypeFlex > button > div > div > div > div {
      color: $blue-v39 !important;
      font-size: $font-size-sm !important;
      font-weight: $fw-semibold !important;
  }

  .ValueFlex {
    flex-basis: 60%
  }

  .ChooseField {
    height: 42px;
    > button {
      height: 100%;
    }
  }