@import '../../../scss/utilities';
@import '../../../scss/constants';

.Button {
  margin-right: 15px;
  border-radius: 4px;
  border: solid 1px #dadfe7;
  background-color: #fff;
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: $gray-v62;
    background: #f6f9fb;
    color: $gray-v3;
    box-shadow: 0 8px 20px 0 rgba(31, 36, 61, 0.25);

    svg {
      fill: $gray-v3;
      stroke: $gray-v3;
    }
  }
}

.CheckedButton {
  margin-right: 15px;
  border-radius: 4px;
  border: solid 1px $blue-v39;
  background-color: #f5fcff;
  &:focus {
    outline: none;
  }
}

.Label {
  font-size: 11px;
  color: #6c727e;
}

.CheckedLabel {
  font-size: 11px;
  color: #1f243d;
}

.DefaultPrimaryButton {
  background-image: $primary-button;
  color: $white;

  &:hover {
    background-image: $primary-button-hover;
  }
}

.DefaultPrimaryDisabledButton {
  background-image: $primary-button;
  color: $white;
  opacity: 0.6;
}

.SecondaryButton {
  border-width: 1px;
  border-style: solid;
  background-color: $white;
}

.PrimaryButton {
  color: $white;
}

.DefaultSecondaryButton {
  border-color: $blue-v2;

  &:hover {
    background-image: $primary-button;
    color: $white;
  }
}

.DisabledButtonReport {
  background-color: #f9f9fb;
  pointer-events: none;
}
