@import '../../../../../scss/constants';
@import '../../../../../scss/utilities';

.FormFieldInput {
  width: calc(100% - 20px);
  height: 36px;
  margin-right: 15px !important;
  border-radius: 4px;
  background-color: $white !important;
}
.Table {
  border: 1px solid $gray-v1;
  margin-bottom: 10px;
  width: 720px !important;
  thead{
    background-color: $gray-v8;
    padding: 9px 15px 7px 15px;
    @extend %GrayV53;
    font-weight: $fw-medium;
  }
  tr{
    padding: 13px 15px 15px 15px;
    border-bottom: 1px solid $gray-v1;
    @include for-phone-and-tab {
      padding: 13px 0px 15px 15px;
    }
    &:last-child {
      border-bottom: 0;
    }
    td{
      border-top: 0;
    }
  }
  .TableBodyContainer {
    & tr:hover td {
      background-color: $gray-v63 !important;
    }
    td {
      @extend %FTwo13;
      color: $gray-v3;
    }
  }
}
.AddNewOccasionClass {
  border: solid 1px $gray-v68;
  border-radius: 3px;
  border-style: dashed;
  padding: 16px 0px;
  width: 720px;
}
.TextInput{
  max-width: 300px !important;
  min-width: 300px !important;
}
.DateInput{
  width: 100% !important;
}
.CorrectIcon {
  fill: $gray-v87;
}
.DeleteIcon{
  fill: $gray-v87;
}
.DeleteIconContainer{
  height: 24px;
  width: 24px;
  @include border-radius(4px);
  &:hover{
    background-color: $white;
  }
}