@import 'scss/constants';
@import 'scss/utilities';

.TableGenTaskModal {
  width: 40vw;
  height: 60vw;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.TableGenHeader {
  width: 100%;
  height: 50px;
  padding: 24px 15px 0px 30px !important;
  opacity: 0.75;
  // background-color: #f3f6f9;
}
.TableGenModalHeader {
  height: fit-content !important;
  padding: 0px !important;
  background: none !important;
  border: none !important;
}
.TableGenModalContent {
  padding: 24px 50px 0px 30px !important;
}
.InfoIcon {
  width: 40px;
  height: 30px;
}
.SelectTableNote {
  font-weight: $fw-semibold;
  color: $orange-v25;
  background-color: $orange-v26;
  padding: 16px 16px 16px 18px;
  border-radius: 6px;
}
.NoteInfo {
  font-weight: $fw-normal !important;
  font-size: $font-size-sm;
}
.TableGenModalContainer {
  width: 34vw !important;
  height: 30vw !important;
  overflow: hidden !important;
  @include border-radius(6px);
  @include for-phone-and-tab {
    width: 90vw !important;
    height: 100vw !important;
  }
  @include for-desktop {
    padding-bottom: 15px;
    overflow: initial;
  }
  overflow: -moz-hidden-unscrollable !important;
}
.TableGenFooter {
  padding: 0 !important;
  box-shadow: none !important;
}
.TableGenClose {
  width: 28px;
  height: 28px;
  margin: 13px 14px 10px;
}
.ButtonContainer {
  height: 64px;
  display: flex;
  // box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  bottom: 0;
  width: 100%;
  padding: 0px 30px 20px 15px;
  position: absolute;
  @include for-phone-and-tab {
    position: fixed;
    width: 100%;
  }
}
.EditorError {
  border: 1px solid $red-v18;
  border-radius: 10px;
  width: fit-content;
}
.UploadedImage {
  height: 250px;
}
.DocumentNameList {
  position: relative;
  width: 200px !important;
  left: -86px;
}

.EditorError {
  border: 1px solid $red-v27;
}
