@import 'scss/constants';
@import 'scss/utilities';

.Header {
    position: relative;
    .CloseIcon {
        position: absolute;
        top: 24px;
        right: 24px;
    } 
    // border-bottom: 1px solid $gray-v1;
}

.BgColorBtn{
    width: 40px;
    height: 40px;
    border: 1px solid $gray-v102;
    border-radius: 4px;
}

.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 0px rgba(16, 24, 40, 0.08);
    flex-shrink: 0;

    .DeleteButton {
        color: $red-v25;
    }
}