// @import 'scss/constants';
// @import 'scss/utilities';

.UserImage {
  height: 24px;
  width: 24px;
}

.ChatListItem {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ChatItemsExpanded {
  padding: 8px 0 8px 22px !important;
  margin: 0px 2px;
}
