@import '../../../../scss/constants';
@import '../../../../scss/utilities';

.DeleteIcon{
  fill: $gray-v87;
}
.DeleteIconContainer{
  height: 24px;
  width: 24px;
  @include border-radius(4px);
  align-self: center;
  margin-top: 10px;
  &:hover{
    background-color: $gray-v96;
  }
}
.DropdownPopper {
  width: 302px;
  overflow-y: hidden;
}

.DropdownListStyle {
  z-index: 99;
}