@import '../../../scss/constants';
@import '../../../scss/utilities';
$container-height: 422px;
.Container {
  background-color: $white;
  box-shadow: 0 2px 10px 0 #0000004c;
  border-radius: 4px;
  width: 401px;
  height: 412px;
  overflow-y: hidden;
  @include for-hd-screen {
    width: 375px;
  }
  @include for-phone-and-tab {
    width: calc(100vw - 60px);
  }
}
.Content {
  padding: 20px 20px 0px 20px;
  flex: 1 1 auto;
  overflow-y: auto;
}
.Header {
  padding: 24px 20px 0px 20px;
  border-bottom: 1px solid $gray-v1;
  @extend %TabHeader;
}
.Footer {
  padding: 12.5px 30px;
  background-color: rgba(237, 237, 242, 0.3);
  & button {
    padding: 8px 30px;
  }
}

.FieldsContainer {
  z-index: 100;
  margin-top: -10px;
  position: absolute;
}
.DropdownPopper {
  width: 361px;
  overflow-y: hidden;
  @include for-hd-screen {
    width: 335px;
  }
}

.popperConfig {
  top: 100px;
  right: 100px;
  position: fixed;
  // inset: auto auto 0px 0px;
}
.Conntainer {
  height: 100%;
  width: 100%;
  @include border-radius(6px);
  @include for-phone-and-tab {
    // width: calc(100vw - 60px);
    // height: 100%;
    width: 100%;
    z-index: 6;
    // margin-bottom: 30px;
    // padding: 20px 15px 20px ;
  }
  background-color: $white;
}
.header {
  width: 100%;
}
.ButtonContainer {
  height: 64px;
  width: 100%;
  // margin-left: 15px;
  // box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.Save {
  width: 100px;
  height: 38px !important;
}
.SecondaryButton {
  height: 38px;
}
.HeaderClassName {
  height: 70px !important;
}

.HeaderSelect {
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.ModalContainerClass {
  width: 650px !important;
  @include border-radius(6px);
}
