@import '../../../../../scss/constants';
@import '../../../../../scss/utilities';
$container-height: 422px;
.Circle1 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  @extend %FlexShrink0;
}

.AccsummaryCircle {
  display: inline-flex;
  margin-right: 10px;
}

.AccnotStartedtxt {
  line-height: 1.27;
  text-align: center;
  padding-top: 15px;
  padding-left: 9px;
  font-weight: 600;
}

.greenborderCard {
  margin: 15px 0px;
  border: 1px solid $green-v25;
  background-color: $green-v25 !important;
  border-radius: 3px;
  position: unset !important;
}

.ResentTaskHeader {
  background-color: $orange-v30 !important;
}

.ResentTask {
  margin: 15px 0px;
  border-radius: 3px;
  position: unset !important;
  border: 1px solid $orange-v30 !important;
  padding: 6px 0px 0px 0px
}

.ReviewTask {
  margin: 15px 0px;
  background-color:$gray-v108 !important;
  border-radius: 3px;
  position: unset !important;
  border: none !important;
  border: 1px solid $gray-v108 !important;
  padding: 6px 0px 0px 0px
}

.firstgreenborderCard {
  margin: 0px 0px;
  border: 1px solid $green-v25;
  position: unset !important;
  background-color: $green-v25 !important;
  border-radius: 3px;
}

.cardheaderbg {
  cursor: pointer;
  padding: 16px !important;
}

.ReviewTaskCardHeaderBg {
  cursor: pointer;
  padding: 16px !important;
  background-color: $gray-v108 !important;
}

.InputDropdownContainer {
  margin-top: -8px;
  padding-right: 0px !important;
}

.OptionListDropDownStyles {
  margin-top: 0px;
  margin-left: -130px;
  width: fit-content;
  white-space: nowrap;
}

.CustomContentStyle {
  width: 0px;
}

.OuterClassName {
  min-width: none !important;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.ContainerClass {
  width: 584px;
}

.MainContentClassName {
  min-height: 528px !important;
  padding-left: 40px;
  padding-top: 0;
}

.HeaderClass {
  border: none;
  background-color: $white;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 18px;
}

.IconClass {
  border: none !important;
}

.ModalContentStyles {
  color: $gray_v89;
}

.WarningTxt {
  border-radius: 3px;
  background-color: $orange-v23;
  text-align: left;
  color: $orange-v24;
  padding: 10px 10px;
  font-size: 13px;
}

.RowContainerTable {
  white-space: nowrap;
  background-color: $white;
  padding: 11px 180px 11px 19px !important;
  height: 48px !important;
  max-width: '300px';
  &:hover {
    background-color: $gray-v68;
  }
}

.HeaderContainer {
  & td {
    border-top: 1px solid $white !important;
    border-left: 1px solid $white !important;
    border-right: 1px solid $white !important;
    background-color: $white !important;
  }
}

.TableBodyContainer {
  & tr:hover td {
    background-color: $gray-v63 !important;
  }
}

.ReassignedFlowTasks {
  max-height: 150px !important;
}
.Noborder{
  border-bottom: none !important;
}