@import '../../../scss/constants';
.Label {
  min-height: 18px;
  user-select: all;
  -webkit-user-select: all; /* Chrome all / Safari all */
  -moz-user-select: all; /* Firefox all */
  -ms-user-select: all; /* IE 10+ */
}
.LabelWidth {
  height: 100%;
  // width: 100%;
  // min-width: 100px;
  margin-bottom: 0;
  cursor: text;
}
.Required {
  color: $red;
}
.AditionalInfo{
  color: $gray-v53 !important;
}
