.SpinnerLoader {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.SpinnerLoaderAnimation {
  position: absolute;
  margin: auto;
  border: 2px solid #eaf0f6;
  border-radius: 100%;
  border-top: 2px solid #1a9cd1;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
