.TextField {
    -webkit-appearance: textfield; /* Safari and Chrome */
    -moz-appearance: textfield;    /* Firefox */
    appearance: textfield; /* Standard */
}

.CheckboxClass {
    margin-bottom: 0 !important;
    margin-left: 12px !important;
}