@import '../../../../scss/constants';
@import '../../../../scss/utilities';
@import '../../../../scss/Typography.module.scss';

.Notification {
  &:hover {
    background-color: #e2f5ff;
    .Indicator {
        background-color: $blue-v39 !important; 
    }
  }
}
.NotificationContainer{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 12px !important;
}
.NotificationCount {
  color: $gray-v53;
  @extend %FS13;
  opacity: 0.9;
  margin-left: 3px;
}
.ContentModal {
  width: 40vw;
  border-radius: 0px !important;
  box-shadow: 0px 15px 27px 0 rgba(0, 0, 0, 0.18);
  overflow: -moz-hidden-unscrollable !important;
  @include border-radius(6px);
  @include for-phone-and-tab {
    width: 100%;
  }
  @include for-desktop {
    margin: 65px 0px 0px 0px ;
    padding: 0px 0px 30px 0px ;
    overflow: initial !important;
  }
}
.Container {
  width: 100%;
  @include for-phone-and-tab {
    padding: 0px 10px 0px 10px;
  }
}
.Comment {
  width: 75%;
}
.UserImage {
  width: 32px;
  height: 32px;
  background-color: $gray-v13 !important;
}
.Time {
  height: 15px;
  padding-left: 10px;
  line-height: 10px;
}
.NotificationContent {
  height: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.TimeComponent{
  width: 80px !important;
  margin-right: 30px;
  padding-left: 12px;
  padding-top: 15px;
}
.AllNotifications {
  height: 75vh ;
  overflow-x: hidden;
}
.AllNotificationsUserMode {
  height: 90vh  ;
  overflow-x: hidden ;
}
.Indicator{
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: $blue-v39 !important; 
}
.BackgroundNone{
  background: none !important;
}