@import '../../../../../scss/constants';
@import '../../../../../scss/utilities';

.TaskName {
  height: 24px;
  font-size: 20px;
  color: $gray-v3;
  text-overflow: ellipsis;
  &::placeholder {
    color: $gray-v6;
    opacity: 1;
  }
}
.TaskDescription {
  color: $gray-v3;
  min-height: 72px !important;
  max-height: 72px !important;
  text-overflow: ellipsis;
  &::placeholder {
    color: $gray-v6;
  }
}
.TaskDescriptionHeight {
  min-height: 72px !important;
}
.FormFieldRadio {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid $gray-v1;
  cursor: pointer;
}
.RadioSelectedStyle {
  height: 12px !important;
  width: 12px !important;
  border-radius: 9px;
}
