.DatalistPicker >  div:nth-child(2) > div > div > div > div > div > div {
    max-width: none !important;
  }
.DatalistPicker > div:nth-child(2) > div {
  flex-wrap: wrap;
}

.SelectedDataPopper  {
  div > div > div > div > div > div:first-child > div {
    max-width: none !important;
  }
}

.RemainingDataPopper {
  div > div > div > div > div {
    max-width: 400px;
    }
}