@import '../../../scss/constants';
@import '../../../scss/utilities';

.ContentClass { 
    width: 100%;
    height: 100%;
    background-color: rgba(20, 22, 42, 0.75)!important;
}

.ContainerClass {
    border-radius: 6px;
    width: 100%;
    background-color: $white;
    margin: 30px;
    height: calc(100% - 60px);
    overflow: hidden!important;
}

.Container {
    height: 100%;
}