.PrimaryButtonClass {
  max-width: 110px;
  min-width: 110px;
  min-height: 38px;
  margin: 0 15px;
}

.SecondaryButtonClass {
  max-width: 110px;
  min-width: 110px;
  min-height: 38px;
  margin: 0 15px;
}

.TitleClass {
  font-size: 12px;
  color: #4b515e !important;
  margin-bottom: 3px !important;
}

.EyeIcon {
  z-index: 5;
  visibility: visible;
  position: relative;
}

.arrow_box {
  position: relative;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 6px;
}

.arrow_box:after,
.arrow_box:before {
  bottom: 96%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.arrow_box:before {
  border-bottom-color: #fff;
  border-width: 16px;
  margin-left: -16px;
}

.SubHeading {
  font-size: 12px;
  font-weight: 600;
  color: #1f243d;
}

.ContentClass {
  font-size: 12px;
  font-weight: 500;
  color: #4b515e;
}

.LoaderClass {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: solid 1px #b8bfc7;
  background-color: #fff;
}
.PopperClass {
  top: 70px !important;
  left: 15px !important;
  position: absolute;
  width: 90%;
}

.VisibleHide {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
