.InitialHeight{
    height:32px !important;
    overflow: hidden;
}
.PostButton{
    width: 60px;
    height: 32px;
    border-radius: 2px;
    
}
.Parent{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: -7px;
}
.ButtonContainer{
    margin-top: -9px;
}