@import 'scss/constants';
@import 'scss/utilities';

.InputTreeLayout {
  border: 1px solid $gray-v1;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0 12px;

  li:first-child {
    border-top: none !important;
  }
}

.KeyInput {
  width: 45% !important;
  p {
    @extend %FTwo13Important;
    @extend %BlackV25Imp;
    @extend %FontWeight600Imp;
  }
}
.TypeDropdown {
  width: 45% !important;
  p {
    @extend %FTwo13Important;
    @extend %BlackV25Imp;
    @extend %FontWeight600Imp;
  }
}
.NameInput {
  width: 25% !important;
  p {
    @extend %FTwo13Important;
    @extend %BlackV25Imp;
    @extend %FontWeight600Imp;
  }
}
.DeleteIcon {
  width: 10% !important;
  padding: 0 !important;
}
.Icon {
  width: 12px !important;
  height: 12px !important;
}
.DuplicateRowError {
  background-color: $orange-v9;
}