@import 'scss/constants';
@import 'scss/utilities';

.Card {
    height: 70px;
    min-width: 280px;
    flex:1;
    padding: 10px 10px 20px 20px;
    border-radius: 4px;
    border: solid 1px rgba(218, 223, 231, 0.6);
  & .ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  & .IconContainer {
    background-color: $gray-v6;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px $gray-v68;
    background-color: $white;
    & .EditIcon {
        height: 12px !important;
        width: 12px !important;
        fill: $gray-v53 !important;
    }
    & .DeleteIcon {
        width: 10px !important;
        height: 12px !important;
        fill: $red-v13 !important;
    }
  }
}
.AddConfigCard {
  margin-bottom: 15px;
  flex:1;
  border-radius: 3px;
  border: dashed 1px $gray-v68;
  text-align: center;
  min-width: 280px;
  background-color: #fff;
  height: 48px;
}
.AddIcon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  object-fit: contain;
  border-radius: 1px;
  fill: $blue-v21;
}
.AddBtnWidth {
  width: 100%;
  height: 47px;
}
.MailAddress {
  height: 13px;
}
.W180 {
  min-width:200px;
  max-width:200px;
}
.userDisplay {
  max-width:160px !important;
  white-space:nowrap !important;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
.ActionText {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
  white-space: nowrap;
}
.Container {
  padding: 0px 15px 0px 20px;
  border-radius: 4px;
  border: solid 1px $gray-v1;
  height: 70px;
}
.ErrorBorder {
  border: solid 1px $red;
}
.ActionButton {
  padding: 0px 20px !important;
  max-width: 85px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.EditIconContainer {
  background-color: $white;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: solid 1px #dadfe7;
  & .EditIcon {
    height: 12px !important;
    width: 12px !important;
    fill: $gray-v53;
  }
  & .DeletIcon {
    height: 12px !important;
    width: 10px !important;
    fill: $red-v13 !important;
  }
}
.ModalContainerClass {
  width: 650px !important;
  @include border-radius(6px);
}
.header {
  width: 100%;
}
.FieldDependencyPopper {
  z-index: 100;
}