@import '../../../../../scss/constants';
@import '../../../../../scss/utilities';

.FlexBasis {
    flex-basis: 42%;
    flex-shrink: 0;
    @include for-hd-screen-v2 {
      flex-basis: 45%;
    }
    // max-width: 350px !important;
}

.FLowFlexBasis {
  flex-basis: 30%;
  flex-shrink: 0;
  @include for-hd-screen-v2 {
    flex-basis: 22%;
  }
    // max-width: 100% !important;
}

.ManipulationTypeBasis {
  flex-basis: 19%;
  @include for-hd-screen-v2 {
    flex-basis: 10% !important;
  }
  flex-shrink: 0;
  max-width: 100% !important;
}

.ColMax {
    flex-basis: 39%;
}

.ExternalSource {
    padding-right: 15px;
    width: 48%;
}

.DropdownsContainer {
    border-radius: 3px;
    border: 1px solid $gray-v107;
    background-color: $gray-v109;
    padding: 8px
}

  .InsertDropdown {
    top: 0px;
    right: 0px;
    z-index: 1;
    div > button {
      border: none !important;
    }
  }

  .TableBorder {
    border-bottom: 1px solid $gray-v108;
  }

  .SelectedRuleContainer {
    height: 50px;
    border-radius: 4px;
    border: 1px solid $gray-v1;
    background: $white;
    height: 32px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    width: 334px !important;
    >div >div {
      height: 24px !important;
    }
  }

  .ChipTextStyle {
    color: $blue-v39 !important;
    font-size: $font-size-smt !important;
  }

  .ButtonContainer {
    height: 16px !important;
    > svg {
      width: fit-content !important;
    }
    // padding: 8px !important;
  }

  .RuleName {
    max-width: 15ch !important;
  }
  
  .EditIcon:hover{
    & path{
       stroke: $blue-v39
    }
  }

  .ManipulatorDropdown {
    width: max-content !important;
    > button {
      border: none !important
    }
  }

  .ExternalSourceManipulation {
    flex-basis: 45%;
  }

  .MainpulationInstruction {
    border-radius: 8px;
    border: 1px solid $gray-v108;
    background-color: $gray-v109;
    padding: 12px 16px;
    display: flex;
    gap: 8px;
    svg {
      g {
        path {
          stroke: $gray-v87;
        }
      }
    }
  }

  .MainpulationInstructionLabel > label { 
    color: $black-v20 !important;
    font-size: $font-size-sm !important;
    font-weight: $fw-semibold !important;
  }

  .ExternalSourceRule {
    border-radius: 3px;
    border: 1px solid $gray-v1;
    background-color: $white;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 334px !important;
  }

  .FlowField {
    max-width: 188px;
    > button {
      height: 32px !important;
    }
  }

  .ViewContainer {
    &:hover {
        background-color: $gray-v109;
    }
    .FlowOrDlLabel {
        color: $gray-v115; 
    }
}

.SecondNestedView {
  background-color: $white;
  border: 1px solid $gray-v102;

  & .Dropdown{
      width: 100%;
  }
};

.Manipulation {
  max-width: 345px;
  @include for-hd-screen-v2 {
    max-width: 385px !important;
  }
  @media (max-width: 1450px ){
    max-width: 385px !important;
  }
}

.ValueContainer {
  // height: 36x;
  max-width: 360px;
  flex-basis: 100%;
  @include for-hd-screen-v2 {
    max-width: 350px;
  }
  border-radius: 2px;
  border: 1px solid $gray-v1;
  background-color: $white;
  padding: 4px;
  gap: 8px;
  height: 50px;
  > div {
    width: 100%;
  }
}

.DocStaticValue {
  overflow: hidden;
  > div > div > div > div  {
    img {
      margin-right: 0 !important;
    }
    span {
      font-size: 11px !important;
    }
  }
}

.ErrorValueContainer {
  height: 90px !important
}

.EmptyStreamClass {
  height: 205px !important;
}

.BooleanErrorContainer { 
  height: 120px !important;
}

.ValueTypeFlex {
  flex-basis: 20%;
  > button {
    border-radius: 2px !important;
    background-color: $blue-v47 !important;
  }
}

.StaticValueType {
  width: 125px !important;
  > button {
    border-radius: 2px !important;
    background-color: $blue-v47 !important;
  }
}

.ChooseStaticFieldType {
  max-width: 150px;
  > button {
    border-radius: 2px !important;
    background-color: $blue-v47 !important;
  }
}

.ManipulatorField {
  height: 50px;
}
.ChooseUserField {
  height: 42px;
  > button {
    height: 100%;
  }
}

.UserFieldContainer {
  height: 90px;
}

.ValueFlex {
  flex-basis: 80%
}

.CustomModalClass {
  width: 80vw !important;
}

// .ExternalDataDelete {
//   justify-content: end;
//   flex-basis: 41%;
// }

.TableHeader {
  // margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
  p {
    padding-right: 0 !important;
  }
}

.DeleteIconContainer {
  margin-top: 34px;
    margin-bottom: 20px;
}

.DeleteStepButton {
  color: $red-v25 !important;
}

.FlexBasisMaxWidth {
  max-width: 380px !important;
}

.FlowOptionMaxWidth {
  max-width: 280px !important;
}

.ManipulativeWidth {
  height: 50px;
  width: 310px !important;
  @include for-hd-screen-v2 {
    width: 334px !important;
  }
}

.ManipulativeOptionWidth {
  width: 268px !important;
}

.FlowFieldOptions{
  max-width: 124px !important;
}

.Button {
  width: fit-content;
  font-size: $font-size-mdt;
  color: $blue-v39;
  display: flex;
  gap:4px;
  align-items: center;
  font-weight: $fw-semibold;
}

.TrashContainer {
  display: flex;
  flex-direction: column;
}