@import 'scss/constants';
@import 'scss/utilities';

.Action {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    padding: 5px 12px;
    text-align: center;
    font-size: $font-size-sm;
    background-color: $white;
    line-height: normal;
}
.Reject {
    border: solid 1px $red-v5;
    color: $red-v5;
}
.Next, 
.End {
    color: $green-v14;
    border: 1px solid $green-v14;
}