@import '../../../scss/constants';
@import '../../../scss/utilities';

.Container {
  padding: 15px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  min-width: 400px;
  z-index: 101;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: $blue-v14;

  // @include for-phone-and-tab{
  //   z-index: 6;
  //   min-width: 300px;
  // }
}

.YesButton {
  border-color: white;
  background-color: transparent;
  color: white;
  margin-right: 20px;
}

.CorrectIconContainer {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: $white;
}

.CorrectIcon {
  fill: transparent;
}
