@import '../../../../../scss/constants';
@import '../../../../../scss/utilities';

.Table {
  padding: 0px 20px;
  font-size: 13px;
  font-weight: 400;
  }
.FieldTitle {
  margin: 0 26px 6px 0;
}
.DateFilterContainer {
  max-height: 250px;
  overflow-y: scroll;
  background: $white;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid var(--gray-100, #F2F4F7);
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}
.CloseIcon {
  width: 9px;
  height: 9px;
  margin-top: 3px;
}
.RowContainer {
white-space: nowrap;
padding: 10px 15px;
height: 56px;
cursor: pointer;
}
.UserTag {
  border-radius: 16px;
  background: var(--gray-100, #f2f4f7);
  padding: 5px 12px;
}
.UserName {
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
}
.AppliedUsersContainer {
  background: $white;
  flex-wrap: wrap;
  max-height: 60px;
  overflow-y: scroll;
}
.CloseIcon {
  width: 12px;
  margin-left: 5px;
}
.TableHeader {
  background-color: $white;
  border: none !important;
}
.PaginationInnerClass {
  background-color: $white;
}
.td100 {
  width: 100px;
}
.SearchBar {
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: solid 1px $gray-v1 !important;
  background: white;
  padding: 0px 0px 0px 30px !important;
  box-shadow: none;

  ::placeholder {
    color: $gray-v6;
    opacity: 1;
  }
}

.RowContainerTable {
  white-space: nowrap;
  background-color: $white;
  height: 56px !important;
  border: 1px solid #EAECF0 !important;
}

.HeaderContainer {
  & td {
    // border-top: 1px solid $white !important;
    // border-left: 1px solid $white !important;
    // border-right: 1px solid $white !important;
    // background-color: $white !important;
    background-color: #F9FAFB !important;
  color: #707070 !important;
  font-weight: 400 !important;
  }
}
.TableData {
  color: #282828 !important;
  font-weight: 400 !important;
  font-size: 12px;
}
.outerContainerInProgress {
  height: 24px;
  width: 92px;
  background-color: $orange-v26;
  padding: 0px 8px;
  border-radius: 20px;
}
.CircleInProgress {
  height: 8px;
  width: 8px;
  background-color: $orange-v25;
  border-radius: 50%;
  margin-right: 4px;
}
.outerContainerCompleted {
  height: 24px;
  width: 92px;
  background-color: $green-v22;
  padding: 0px 8px 0px 8px;
  border-radius: 20px;
}
.outerContainerCancelled {
  height: 24px;
  width: 92px;
  background-color: #FDE9E9;
  padding: 0px 8px 0px 8px;
  border-radius: 20px;
}
.CircleCancel {
  height: 8px;
  width: 8px;
  background-color: $red-v20;
  border-radius: 50%;
  margin-right: 4px;
}
.CircleSuccess {
  height: 8px;
  width: 8px;
  background-color: $green-v17;
  border-radius: 50%;
  margin-right: 4px;
}
.InprogressText {
  font-size: 12px !important;
  color: $orange-v25;
  margin-left: 14px;
}
.SuccessText {
  font-size: 12px !important;
  color: $green-v17;
  margin-left: 14px !important;
}
.CancelText {
  font-size: 12px !important;
  color: $red-v20;
  margin-left: 14px;
}
.SearchBar {
  height: 36px;
  width: 400px !important;
  border-radius: 4px;
  border: solid 1px $gray-v68 !important;
  background: white;
  padding: 0px 0px 0px 13px !important;
  box-shadow: none;

  ::placeholder {
    color: $gray-v62;
    opacity: 1;
    font-size: 13px;
    font-weight: 400px;
  }
}
.NameContainer {
  max-width: 200px !important;
}
.FilterContent {
  padding: 12px 16px 16px;
}
.Assignee {
  width: 80%;
}
.Filter {
  margin-left: 15px;
  margin-top: 4px;
  margin-right: 0px;
  height: 32px;
  width: fit-content;
  border-radius: 3px;
  // background-color:  #F2F4F7;
  padding: 6px 12px;
}
.FilterIcon {
  height: 16px;
  width: 15px;
  svg {
    path {
      fill: $gray-v87;
    }
  }
}
.FilterComponent {
  min-height: 175px;
  width: 540px;
  border-radius: 3px;
    background: var(--gray-white, #FFF);
  box-shadow: 0px 1px 16px 0px rgba(16, 24, 40, 0.12);
  margin-right: 15px;
  margin-top:4px
}
.HorizontalLine {
  height: 1px;
  width: 540px;
    color: #F2F4F7;
  margin-top: 0px !important;
  margin-bottom: 0px;
}
.DropdownShortcut {
  margin-top: 12px;
  gap: 13px !important;
}
.ClearAll {
  color: #344054 !important;
  font-size: 12px;
  font-weight: 500;
}
.Apply {
  font-size: 12px !important;
  font-weight: 500;
  height: 32px !important;
  border-radius: 3px;
  border: 1px solid $blue-v39 !important;
  padding: 7px 12px 7px 12px;
}
.FilterContainer {
  width: 240px;
  height: 43px;
  padding: 12px 16px;
  color: #344054;
  padding-bottom: 6px;
  &.Text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
}
.DropdownContainer {
  height: 36px;
  width: 157px;
  border-radius: 8px;
}
.DropdownText {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: #344054 !important;
}
.SortIcon {
  margin-left: 4px;
}
.BorderNone {
  border: none;
}
.BorderBottom {
  border-bottom: 1px solid #D8DEE9;
}
.ChevronIcon {
  height: 5px !important;
  width: 10px !important;
  color: #344054;
}
.NoBorderBottom {
  border-bottom: none !important;
  width: 100%;
}

.SerachIcon {
  width: 20px !important;
  height: 20px !important;
  svg {
    path {
      fill: $gray-v87;
    }
  }
}

.TextPlaceholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: $black-v12 !important;
}

.CreatedOnContainer {
  height: 36px;
  width: 157px;
  border-radius: 2px;
    border: 1px solid #D8DEE9;
}
.CreatedOnText {
  margin-right: 50px;
  margin-left: 0px;
}
.CreatedOnPopper {
  width: 330px;
}
.OptionListContainer {
  margin-right: 10px !important;
}
.FilterCount{
  font-size: 12px;
  font-weight: 500;
  color: #217CF5;
  background-color: #DEECFE;
  padding: 2px 8px;
  border-radius: 16px;
  margin-left: 10px;
  }