.Table {
  display: flex;
  align-items: center;
  min-height: 49px;
  padding: 13px;
  padding-left: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: -1px;
}

.Response {
  flex: 2;
  margin-right: 40px;
}
