@import '../../../scss/constants';

.Table {
  display: flex;
  align-items: center;
  height: 49px;
  padding: 13px;
  padding-left: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: -1px;
  background-color: $gray-v8;
  max-height: 250px;
  overflow-y: auto;
}

.TableOverFlow {
  max-height: 250px;
  overflow-y: auto;
}