@import 'scss/constants';
@import 'scss/utilities';

.FilterContainer {
    background-color: $white;
    box-shadow: 0px 1px 16px 0px rgba(16, 24, 40, 0.12);
    border-radius: 3px;
}

.FilterTitle {
    padding: 12px 16px;
    border-bottom: 1px solid $gray-v107;
}

.CloseIcon {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.SelectedFilter {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px 0 16px;
}

.Filter {
    background-color: $white;
    padding: 12px 16px 8px 16px;

    & .Dropdown {
        min-width: 152px;

        @include for-phone-and-tab {
            min-width: 100px;
            max-width: 120px;
        }
    }

    @include for-phone-and-tab {
        width: 100%;
    }

    @include responsive-layout {
        flex-wrap: wrap;
    }
}

.FilterPopper {
    width: fit-content !important;

    @include responsive-layout {
        width: 100% !important;
    }
}

.minw178px {
    min-width: 178px;

    @include responsive-layout {
        min-width: auto;
    }
}

.FilterActions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px;
}