@import '../../../../scss/constants';
@import '../../../../scss/utilities';

.SearchBarTop{
  background-color: transparent !important;
}

.SearchBar {
  flex: 1;
  // margin-right: 10px;
  height: 36px;
  border-radius: 0 4px 4px 0;
  border: solid 1px $gray-v1 !important;
  padding: 0px 0px 0px 30px !important;
  box-shadow: none;

  ::placeholder {
    color: $gray-v6;
    opacity: 1;
  }
}

.taskfound {
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: $black-v2;
  margin-bottom: 30px;
}

.AllFlowTask {
  table thead {
    z-index: 0 !important;
  }
}

.FlowTasksList {
  // overflow-x: scroll;
  // max-height: calc(100vh - 400px);
  min-height: 300px;

  @include for-small-to-medium-height-device {
    min-height: 250px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
    width: 0;
    height: 0;
    border-left: 16px solid $gray-v63;
    border-top: 16px solid $gray-v63;
    border-bottom: 16px solid transparent;
    border-right: 16px solid transparent;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    border: none !important;

    thead {
      border: none !important;
      z-index: 1;
      td {
        position: relative;
        background-color: transparent !important;
        border-top: none;
        padding-bottom: 0px !important;
      }
    }
    tbody {
      td {
        border-bottom: 0;
        background-color: transparent !important;

        &:first-child {
          border-left: 0.5px solid $gray-v68;
          width: 6vw;
        }

        &:last-child {
          border-right: 0.5px solid $gray-v68;
        }
      }

      tr {
        background-color: transparent !important;
        &:last-child {
          td {
            border-bottom: 0.5px solid $gray-v68;
          }
        }
      }
    }
  }
  @include responsive-layout {
    overflow-x: auto; 
   }
}
.ClosedTasksTableContainer {
  table tr td:first-child {
    width: 0px;
  }
}
.TasksTableContainer {
  table tr td:nth-child(3) {
    min-width: 20vw;
  }
}
.EntryTasksTableContainer {
  min-height: fit-content;
  table tr td:nth-child(2) {
    min-width: 23vw;
  }
}

.OptionListClassName {
  width: 100px;
  list-style: none;
  border: none !important;
  padding: 10px;
  height: 32px;
}

.OptionContainerClassName {
  padding: 10px 15px;
}

.DropdownContainerStyles {
  border-radius: 3px 0px 0px 3px;
  border-right: none;
  margin-top: 11px !important;
}

.DropdownContainer {
  // width: 343px;
  position: absolute;
}

.DropdownHeader {
  width: 100px;
  height: 36px;
  padding-left: 10px;
  padding-top: 8px;
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}

.PlusIconStyles {
  margin-right: 8px;
  stroke: #ffffff00 !important;
}

.ContainerClass {
  width: 584px;
  border-radius: 6px;
}

.HeaderClass {
  border: none;
  background-color: $white;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 18px;
}

.IconClass {
  border: none !important;
}

.MainContentClassName {
  height: 455px !important;
  padding-left: 40px;
  padding-top: 0;
}

.ModalContentStyles {
  color: $gray_v89;
}

.WarningTxt {
  border-radius: 3px;
  background-color: $orange-v23;
  text-align: left;
  color: $orange-v24;
  padding: 10px 10px;
  font-size: 13px;
}

.ReassignTask {
  font-size: 13px;
  cursor: pointer;
  width: fit-content;
  top: 20px;
  padding-left: 10px;
}

.ReassignTaskEntry {
  position: relative;
  padding-left: 10px;
  font-size: 13px;
  cursor: pointer;
}

.RowContainerTable {
  white-space: nowrap;
  background-color: $white;
  padding: 11px 180px 11px 19px !important;
  height: 48px !important;
  max-width: '300px';
  &:hover {
    background-color: $gray-v68;
  }
}

.HeaderContainer {
  & td {
    border-top: 1px solid $white !important;
    border-left: 1px solid $white !important;
    border-right: 1px solid $white !important;
    background-color: $white !important;
  }
}

.TableBodyContainer {
  & tr:hover td {
    background-color: $gray-v63 !important;
  }
}

.ReasonDescription {
  min-height: 55px;
  height: 55px;
  resize: vertical;
}

.ReassignedFlowTasks {
  max-height: 252px !important;
}

.ModalFooter {
  justify-content: space-between !important;
}

.FooterCTAClass {
  position: relative;
  bottom: -12px;
}