@import '../../scss/constants';
@import '../../scss/utilities';

.PopperClass {
    // top: 70px !important;
    // left: 15px !important;
    // position: absolute;
    // width: 300px;
    background-color: $white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 4px 30px 0 rgba(0, 0, 0, 0.2);
}

.ArrowBox::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    // border-width: 5px;
    border-style: solid;
    border-color: $white transparent transparent transparent;
    border-width: 15px;
    background-color: transparent;
  }

.UpArrowBox::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    // border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $white transparent;
    border-width: 15px;
    background-color: transparent;
    border-width: 15px;
    margin-left: -15px;
}