//Color Properties
$gray-v1: #d8dee9;
$gray-v2: #5b6375;
$gray-v3: #1f243d;
$gray-v4: #9599a2;
$gray-v5: #a4adbe;
$gray-v6: #adb6c7;
$gray-v7: #f9f9fb;
$gray-v8: #ededf2;
$gray-v9: #888ea4;
$gray-v10: #eff1f4;
$gray-v11: #dbdee3;
$gray-v12: #646f80;
$gray-v13: #dee0e4;
$gray-v14: #7c8399;
$gray-v15: #f3f3f8;
$gray-v16: #d6dde8;
$gray-v17: #9398af;
$gray-v18: #dedede;
$gray-v19: #fafafa;
$gray-v20: #878ea4;
$gray-v21: #e9edf3;
$gray-v22: #d8d9de;
$gray-v23: #f6f6f8;
$gray-v24: #353a50;
$gray-v25: #aaafba;
$gray-v26: #e5e9ef;
$gray-v27: #7c8a98;
$gray-v28: #f0f2f5;
$gray-v29: #9d9faa;
$gray-v30: #ededed;
$gray-v31: #d8d8d8;
$gray-v32: #eaeef3;
$gray-v33: #f2f2f6;
$gray-v34: #ecedf3;
$gray-v35: #424c5d;
$gray-v36: #71798d;
$gray-v37: #a1a1a2;
$gray-v38: #9ba6b1;
$gray-v39: #53586e;
$gray-v40: #fafbfc;
$gray-v41: #969797;
$gray-v42: #747682;
$gray-v43: #9b9ca1;
$gray-v44: #2a2e40;
$gray-v45: #c0cbdd;
$gray-v46: #f3f3f3;
$gray-v47: #5b5e69;
$gray-v48: #696f84;
$gray-v49: #f3f5f8;
$gray-v50: #fdfdfd;
$gray-v51: #8c96a0;
$gray-v52: #dfe5ec;
$gray-v53: #6c727e;
$gray-v54: #eff0f6;
$gray-v55: #d6d7e3;
$gray-v56: #b9b9b9;
$gray-v57: #808080;
$gray-v58: #767676;
$gray-v59: #f0f2fa;
$gray-v60: #00000033;
$gray-v61: #fce4d2;
$gray-v62: #b8bfc7;
$gray-v63: #f3f6f9;
$gray-v64: #0000000a;
$gray-v65: #00000040;
$gray-v66: #afb2b9;
$gray-v67: #bbb;
$gray-v68: #dadfe7; //Dashed border radius
$gray-v69: #f6f9fb;
$gray-v70: #d3d3da;
$gray-v71: #e8ecf3;
$gray-v72: #5d636e;
$gray-v73: #7c828d;
$gray-v74: #838893; // FYI: 69 to 73 grey shades in billing_module branch
$gray-v75: #d1d7de;
$gray-v76: #dae0e7;
$gray-v77: #c4c4c4;
$gray-v78: #a9b4c2;
$gray-v79: #e9ecf1;
$gray-v80: #fcfcfd;
$gray-v81: #eaebeb;
$gray-v82: #fafcfd;
$grav-v83:  #edf1f5;
$gray-v84: #646464;
$gray-v85: #b1b1b7; // react flow edge
$gray-v86: #e7e7e7;
$gray-v86: #9ba0a5;
$gray-v87: #959BA3; // icon color - UI rebranding
$gray-v88: #EEF0F3;
$gray-v89: #484D57;
$gray-v90: #282828; 
$gray-v91: #959BA3;
$gray-v92: #D5D7DA;
$gray-v93: #727984;
$gray-v94: #BBBDBF;
$gray-v95: #0B2171;
$gray-v96: #CACDD1;
$gray-v97: #8F919E;
$gray-v98: #9BA0A5;
$gray-v99: #F4F5F7;
$gray-v100: #E8EAEE;
$gray-v101: #9E9E9E;
$gray-v102: #DDD;
$gray-v103: #EFEFEF;
$gray-v104: #707070;
$gray-v105: #979797;
$gray-v106: #C8C8C8;
$gray-v107: #F2F4F7;
$gray-v108: #EAECF0;
$gray-v109: #F9FAFB;
$gray-v110: #F9FAFB;
$gray-v111: #FFF6ED;
$gray-v112: #DDDDDD;
$gray-v113: #dee2e6;
$gray-v114: #f9f9f9;
$gray-v115: #52525B;
$gray-v116: #F3F4F6;
$gray-v117: #E5E7EB;
$gray-v118: #e4e4e7;
$gray-v119: #E6E8F0;
$gray-v120: #E8ECF2;
$gray-v121: #D8DEE9;

$black: #000;
$black-v1: #17191d;
$black-v2: #262b52;
$black-v3: #2b2f39;
$black-v4: #32356b;
$black-v5: #666e81;
$black-v6: #22252b;
$black-v7: #6e7077;
$black-v8: #131729;
$black-v9: #b6bece;
$black-v10: #d6dae3;
$black-v11: #54586c;
$black-v12: #1a1a1a;
$black-v13: #4b515e;
$black-v15: #222842;
$black-v16: #14162a;
$black-v17: #484848;
$black-v18: #484D57;
$black-v19: #217cf520;
$black-v20: #344054;
$black-v21: #707070;
$black-v22: #1A1A1A;
$black-v23: #101840;
$black-v24: #101828;
$black-v25: #333333;
$black-v26: #374151;
$black-v27: #111928;

$red: #ff0000;
$red-v2: #e62a2a;
$red-v3: #ffdae0;
$red-v4: #d85353;
$red-v5: #f07f7f;
$red-v6: #f2cacc;
$red-v7: #e42e2d;
$red-v8: #ec7b7c;
$red-v8: #ed7c7d;
$red-v9: #d56061;
$red-v10: #f26464;
$red-v11: #ff665f;
$red-v12: #7c4442;
$red-v13: #f29494;
$red-v14: #ffcccc;
$red-v15: #e37070;
$red-v16: #f8d7da;
$red-v17: #ffe9e9;
$red-v18: #FE6C6A;
$red-v19: #FEF2F2;
$red-v20: #CD3636;
$red-v21: #F7A1A1;
$red-v22: #D92D20;
$red-v23: #FEE4E2;
$red-v24: #FEF3F2;
$red-v25: #B42318;
$red-v26: #FEF3F2;
$red-v27: #F0ABA6;
$red-v28: #DC6803;
$red-v29: #FDA29B;
$red-v30: #B54708;
$red-v31: #FDE9E9;

$orange-v1: #efded5;
$orange-v2: #d88244;
$orange-v3: #f07f7f;
$orange-v4: #f4a46a;
$orange-v5: #ffb648;
$orange-v6: #f55b5d1a;
$orange-v7: #f0ae45;
$orange-v8: #7e5f2e;
$orange-v9: #fff0f0;
$orange-v10: #e4a644;
$orange-v11: #f9b450;
$orange-v12: #ea975a;
$orange-v13: #fff3cd;
$orange_v14: #856404;
$orange_v15: #f49754;
$orange-v16: #f1934c;
$orange-v17: #fffaf7;
$orange-v18: #ffd3b7;
$orange-v19: #ff7b26;
$orange-v20: #fff3e2;
$orange-v21: #ffae3a;
$orange-v22: #FBB450;
$orange-v23: #FEF1DF;
$orange-v25: #C8811A;
$orange-v24: #fbb44e;
$orange-v26: #FBF2CB;
$orange-v27: #FFEAD5;
$orange-v28: #EC4A0A;
$orange-v29: #FEFAF5;
$orange-v30: #FFFAEB;
$orange-v31: #FEF0C7;
$orange-v32: #FDB022;
$orange-v33: #DC6803;
$orange-v34: #FFF6ED;
$orange-v35: #C4320A;
$orange-v36: #F79009;
$orange-v37: #FFFCF5;
$orange-v38: #FEDF89;
$orange-v39: #FEF4E6;
$orange-v40: #FFA500;

$cyan: #00aeb9;
$blue-v1: #2b80b3;
$blue-v2: #228bb5;
$blue-v3: #14749b;
$blue-v4: #009ba4;
$blue-v5: #1b6fa2;
$blue-v6: #5c5fa8;
$blue-v7: #e6f3f9;
$blue-v8: #485289;
$blue-v9: #f5f7fa;
$blue-v10: #2b2f5e;
$blue-v11: #222747;
$blue-v12: #7fb9d2;
$blue-v13: #474e8e;
$blue-v14: #5460a0;
$blue-v15: #f2f9fc;
$blue-v16: #51569b;
$blue-v17: #39afa0;
$blue-v18: #1f6b8d;
$blue-v19: #4893b8;
$blue-v20: #86b6fe80;
$blue-v21: #1a9cd1;
$blue-v22: #2f49d1;
$blue-v23: #1a9cd11a;
$blue-v24: #63bbdf;
$blue-v25: #1f243d;
$blue-v26: #f5fcff;
$blue-v27: #ecf6ff;
$blue-v28: #238bb5;
$blue-v29: #e8f5fa;
$blue-v30: #3293ba;
$blue-v31: #d1ebf8;
$blue-v32: #14a5dc;
$blue-v33: #15a6dd;
$blue-v34: #dbedf8;
$blue-v35: #1a9dd1;
$blue-v36: #c3ccf9;
$blue-v37: #2194be;
$blue-v38: #2295bf;
$blue-v39: #217cf5;
$blue-v39-Op75: #217CF575;
$blue-v40: #1c6fe2;
$blue-v41: #deecfe;
$blue-v42: #a6a6fc;
$blue-v43: #eaeaff;
$blue-v44: #1f8fb9;
$blue-v45: #4C97FF;
$blue-v46: #99C5FF;
$blue-v47: #F3F9FF;
$blue-v48: #EBF4FF;
$blue-v49: #E9F2FE;
$blue-v69: #1A4AC8;
$blue-v70: #3b82f6;

$white: #ffffff;
$white-v2: #F8FAFB;
$white-v3: #F6F7F9;
$white-v4: #ffffffe6;
$white-v5: #FFFFFF66;
$green-v1: #2ecc71;
$green-v2: #00c279;
$green-v3: #cdeddd;
$green-v4: #62cc72;
$green-v5: #7fc55a;
$green-v6: #6ccf9c;
$green-v7: #4bde97;
$green-v8: #4bde971a;
$green-V9: #6bd16d;
$green-v10: #133f25;
$green-v11: #59b86e;
$green-v12: rgba(91, 185, 110, 0.2);
$green-13: #75cca9;
$green-v14: #4bb383;
$green-v15: #d2f0e1;
$green-v16: #6ccf9c;
$green-v17: #2F9461;
$green-v18: #53B483;
$green-v19: #EFFDF6;
$green-v20: #2F7657;
$green-v21: #B8F1D2;
$green-v22: #D9F9E6;
$green-v23: #039855;
$green-v24: #ECFDF3;
$green-v25: #E0F7EA;
$green-v26: #00C282;
$green-v27: #027A48;
$green-v28: #F6FEF9;
$green-v29: #D1FADF;

$pink-v1: #f93bca;
$pink-v2: #fa2e85;
$pink-v3: #edb2e4;
$pink-v4: #ffd9f9;

$purple-v1: #6767b4;
$yellow-v1: #ffff00;

//Font family
$font-family-1: Montserrat;
$font-family-2: 'Inter', sans-serif;

//button
$primary-button: linear-gradient(71deg, #72be44, #00a0fd 100%);
$primary-button-hover: linear-gradient(71deg, #72be44, #00a0fd 100%);

//sign up and sign in side panel
$side-panel-width: 442px;
$side-panel-breakpoint: 1075px;
$side-panel-bg: rgba(36, 40, 56, 0.65);

// WorkHall V2 Begins here.
$light-white: rgba($white, 0.8);
$light-grey: lighten($black, 60%);
$dark-grey: darken($black, 60%);
$bg-app: $gray-v40;

$wh-gradient: linear-gradient(83deg, #72be44, #00a0fd);
$wh-box-shadow: 0 2px 10px 0 rgba(9, 162, 238, 0.5);
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

$border-circle: 50% !default;

$font-size-xs: 10px;
$font-size-smt: 11px;
$font-size-sm: 12px;
$font-size-mdt: 13px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;
$fw-normal: 400;
$fw-semibold: 500;
$fw-medium: 600;
$fw-bold: 700;

//side nav bar
$side-navbaropen-marginleft: 220px;
$side-navbarclose-marginleft: 84px;

// scrollbar
$scrollbar-width: thin;
$scrollbar-color: #b8bfc7 transparent;
$scrollbar-bg: rgba($black, 0.5);
