.header{
  margin-bottom: 18px;
}
.field{
  flex:1;
  width: 36%;
}
.fieldHeight{
  height: 36px !important;
}
.btnAdd{
  width: 95px !important;
  height:36px !important;
  transform: translateY(24px) !important;
  margin-left: 15px !important;
  padding: 10px 34px 11px 35px !important;
}