@import 'scss/constants';
@import 'scss/utilities';

.OuterContainer {
  max-width: 650px;
}

.LabelClassName {
  label {
    color: $black-v13;
    font-size: $font-size-mdt;
    font-weight: $fw-semibold;
  }
}

.NumberInput {
  // hiding firefox spin arrows
  -moz-appearance: textfield;
  // hidden spin arrows for number type input
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}